<div class="container">
  <hot-table
    class="hot"
    [height]="500"
    [hotId]="instance"
    (afterChange)="onHotChange()"></hot-table>
  <div class="workspace">
    <form class="operators" (submit)="dump()">
      <fieldset>
        <label>类型</label>
        <label>
          <input
            type="radio"
            name="root"
            [(ngModel)]="root"
            [value]="availableRoots.Object"
            (change)="rootChange()">
          Object
        </label>
        <label>
          <input
            type="radio"
            name="root"
            [(ngModel)]="root"
            [value]="availableRoots.Array"
            (change)="rootChange()">
          Array
        </label>
      </fieldset>
      <ng-container *ngIf="root === availableRoots.Array">
        <fieldset>
          <label for="group-by">group by</label>
          <input id="group-by" type="text" name="groupBy" class="form-control" [(ngModel)]="groupBy">
          <input id="group-value-is-number" type="checkbox" name="groupValueIsNumber" [(ngModel)]="groupValueIsNumber">
          <label for="group-value-is-number">is number</label>
          |
          <input id="ignore-header" type="checkbox" name="ignoreHeaderRow" [(ngModel)]="ignoreHeaderRow">
          <label for="ignore-header">ignore header row</label>
          <div>
            <label for="group-key">group key</label>
            <input id="group-key" type="text" name="groupKey" class="form-control" [(ngModel)]="groupKey">
          </div>
        </fieldset>
      </ng-container>
      <fieldset>
        <label for="mapper">properties mapper</label>
        <textarea
          name="mapper"
          id="mapper"
          rows="10"
          placeholder="1->abc"
          class="form-control"
          [(ngModel)]="mapRules"
        ></textarea>
      </fieldset>
      <input type="submit" class="btn btn-primary" value="dump">
      <button type="button" class="btn" (click)="copy()">copy result</button>
    </form>
    <pre class="showcase"><code class="preview">{{ result | json }}</code></pre>
  </div>
</div>
